th, td {
	text-align: left !important;
}

.event-table {
	margin-top: 40px;
}

.event-create {
	text-align: center;
}

img.event-img {
	width: 500px;
}

.card-block {
	margin: 20px 0 !important;
}

.event-panel {
	margin-top: 100px;
}

.btn-mrg-top {
	margin-top:10px;
}

.category_subtitle {
	margin-top: 50px;
	font-size: 50px;
}
.small-menu-btn {
	display: inline-block;
}

.my-card {
	height: 265px;
    border: 1px solid #83a7dc;
    border-radius: 20px;e;
	border-radius: 5px;
}

.my-card-subt {
	height: 300px;
    border: 1px solid #83a7dc;
    border-radius: 20px;e;
	border-radius: 5px;
}
 hr.in_card {

 	    border-top: 1px solid #7d7474 !important;
 }
 img.nav_logo {
  	margin-top: 5px;
  	width: 40px;
  	height: 40px;
  }
ul.nav-admin-hannation {
	margin-left: 50px;
}